<% provide(:title, 'messages') %>
<div class="row medium-8 columns medium-offset-2">
    <% if @messages.any? %>
        <h2 align="center">Messages</h2>
        <ul class="no-bullet">
            <% @messages.each do |message| %>
                <div class="callout">
                    <li>Sent By<strong> <%= message.user.name %>, <%= message.user.email %></strong></li>
                    <li>Message<strong> <%= message.title %></strong>, <%= message.description %></li>
                    <span class="timestamp">
                        Sent <%= time_ago_in_words(message.created_at) %> ago.
                        <%= link_to "delete", message, method: :delete, data: { confirm: "You sure?"   } %>
                    </span>
                </div>
            <% end %>
        </ul>
    <% else %>
        There no messages
    <% end %>
</div>
