<div class="medium-6 columns medium-offset-3">
    <% provide(:title, "Log in") %>
    <h1>Log in</h1>
    <div class="callout">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name%> <br>

            <%= f.label :password%>
            <%= link_to "(Forgot password)", "#" %><br>
            <%= f.password_field :password%><br>
            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
            <% end %>
        <%= f.submit "Log in" %><br>

    <% end %>
    </div>
    <p> New user? <%= link_to "Register here!", new_user_path %></p>
</div>
