<% provide(:title, 'Edit user')%>
<div class= "row">
    <div class="medium-3 columns">
        <%= render 'users/profile' %>
    </div>
    <div class="medium-6 columns medium-offset-0.5 columns" id="form">
        <h3 align="center">Update your profile</h3>
        <div class="callout">
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages'%>
                <%= f.label :name %>
                <%= f.text_field :name %><br>

                <%= f.label :email%>
                <%= f.email_field :email %><br>

                <%= f.label :password%>
                <%= f.password_field :password%><br>

                <%= f.label :password_confirmation%>
                <%= f.password_field :password_confirmation%><br>

                <%= f.submit "save changes" %><br>

            <% end %>
        </div>
    </div>
    <div >
    </div>
</div>

