
<% provide(:title, 'Edit Book')%>
<div class="medium-6 columns medium-offset-3">
    <h1>Edit Book</h1>
    <div class="callout">
        <%= form_for :book, url: book_path(@book), method: :patch do |f| %>
            <% if @book.errors.any? %>
                <h2>
                    <%= pluralize(@book.errors.count, "error") %> prohibited
                    this book from being saved:
                </h2>
                <ul>
                    <% @book.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>

            <% end %>
            <%= f.label :category %>
            <%= f.text_field :category %><br>

            <%= f.label :title%>
            <%= f.text_field :title %><br>

            <%= f.label :author %>
            <%= f.text_field :author %><br>

            <%= f.label :isbn%>
            <%= f.text_field :isbn%><br>

            <%= f.label :available%>
            <%= f.text_field:available%><br>

            <%= f.submit "Save" %><br>

        <% end %>
    </div>
    <%= link_to 'Back', books_path%>
</div>
