<div class="row medium-8 columns medium-offset-2" id="form">
    <% if @accepts.any? %>
    <h1>Books Borrowed</h1>
    <table>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Due Date</th>
            <th></th>
        </tr>

        <% @accepts.each do |lease|%>
            <tr>
                <td><%= lease.book.author %></td>
                <td><%= lease.book.title %></td>
                <td><%= lease.book.isbn %></td>
                <td> <%= remaining_days(lease) %>
        </tr>
    <% end %>
    </table>
<% else %>
    You have not borrowed any book.
<% end %>
<%= link_to 'back', user_path(current_user) %>
</div>

